body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
        
}

#banner{
    width: 100%;
}

.principal{
    background: #FFFFFF;
    padding: 30px;
}

h1{
    text-align: center;
}

p{
    text-align: center;
}

#missao{
    font-size: 20px;
}

em strong{
    color: #FF0000;
}

.itens{
    font-style: italic;
}
.beneficios{
    background: #FFFFFF;
    padding: 20px;
}

h2{
    text-align: center;
}

ul{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.imagembeneficios{
    width: 30%;
}

.titulo-principal{
    padding-left: 20px;
}

.titulo-centralizado{
    text-align: center;
}

